
    <div class="card">
      <img class="img-thumbnail"   src="./assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">
      <h1>Velocidad y agilidad aritmética </h1>
      <p class="title">Juego de agilidad mental</p>
      <p>UTN FRA </p>
  
      <div class="btn-group" role="group">
          <button type="button" mat-icon-button style="background:#ff02ea;color:white"><i class="fa fa-dribbble"></i></button>
          <button type="button" mat-icon-button style="background:#00aced;color:white"><i class="fa fa-twitter"></i></button>
          <button type="button" mat-icon-button style="background:#007bb6;color:white"><i class="fa fa-linkedin"></i></button>
          <button type="button" mat-icon-button style="background:#3b5998;color:white"><i class="fa fa-facebook"></i></button>
        </div>
      <p><br> <button mat-raised-button style="width:95%;color:white" color="warn"  (click)="Juego('Agilidad')">Jugar</button></p>
    
    </div>
  
    <div class="card">
      <img class="img-thumbnail" src="./assets/imagenes/ppt.jpg" alt="Avatar" style="width:100%">
      <h1>Piedra Papel o Tijera</h1>
      <p class="title">Juega contra la máquina</p>
      <p>UTN FRA </p>
      <div class="btn-group" role="group">
          <button type="button" mat-icon-button style="background:#ff02ea;color:white"><i class="fa fa-dribbble"></i></button>
          <button type="button" mat-icon-button style="background:#00aced;color:white"><i class="fa fa-twitter"></i></button>
          <button type="button" mat-icon-button style="background:#007bb6;color:white"><i class="fa fa-linkedin"></i></button>
          <button type="button" mat-icon-button style="background:#3b5998;color:white"><i class="fa fa-facebook"></i></button>
        </div>
      <p><br> <button mat-raised-button style="width:95%;color:white" color="warn"  (click)="Juego('PPT')">Jugar</button></p>
    </div>
    <div class="card">
      <img  class="img-thumbnail"  src="./assets/imagenes/adivina.png" alt="Avatar" style="width:100%">
      <h1>Adivina el número secreto</h1>
      <p class="title">Juega de estrategia</p>
      <p>UTN FRA </p>
      <div class="btn-group" role="group">
          <button type="button" mat-icon-button style="background:#ff02ea;color:white"><i class="fa fa-dribbble"></i></button>
          <button type="button" mat-icon-button style="background:#00aced;color:white"><i class="fa fa-twitter"></i></button>
          <button type="button" mat-icon-button style="background:#007bb6;color:white"><i class="fa fa-linkedin"></i></button>
          <button type="button" mat-icon-button style="background:#3b5998;color:white"><i class="fa fa-facebook"></i></button>
        </div>
      <p><br> <button mat-raised-button style="width:95%;color:white" color="warn"  (click)="Juego('Adivina')">Jugar</button></p>
    </div>

    <div class="card">
        <img  class="img-thumbnail"  src="./assets/imagenes/anagrama.jpg" alt="Avatar" style="width:100%">
        <h1>Anagrama &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
        <p class="title">Juega de para usar la cabeza</p>
        <p>UTN FRA </p>
        <div class="btn-group" role="group">
            <button type="button" mat-icon-button style="background:#ff02ea;color:white"><i class="fa fa-dribbble"></i></button>
            <button type="button" mat-icon-button style="background:#00aced;color:white"><i class="fa fa-twitter"></i></button>
            <button type="button" mat-icon-button style="background:#007bb6;color:white"><i class="fa fa-linkedin"></i></button>
            <button type="button" mat-icon-button style="background:#3b5998;color:white"><i class="fa fa-facebook"></i></button>
          </div>
        <p><br> <button mat-raised-button style="width:95%;color:white" color="warn"  (click)="Juego('Anagrama')">Jugar</button></p>
      </div>
      <div class="card">
          <img  class="img-thumbnail"  src="./assets/imagenes/tateti.png" alt="Avatar" style="width:100%">
          <h1>TA TE TI &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
          <p class="title">Juega con un amigo</p>
          <p>UTN FRA </p>
          <div class="btn-group" role="group">
              <button type="button" mat-icon-button style="background:#ff02ea;color:white"><i class="fa fa-dribbble"></i></button>
              <button type="button" mat-icon-button style="background:#00aced;color:white"><i class="fa fa-twitter"></i></button>
              <button type="button" mat-icon-button style="background:#007bb6;color:white"><i class="fa fa-linkedin"></i></button>
              <button type="button" mat-icon-button style="background:#3b5998;color:white"><i class="fa fa-facebook"></i></button>
            </div>
          <p><br> <button mat-raised-button style="width:95%;color:white" color="warn"  (click)="Juego('TATETI')">Jugar</button></p>
        </div>