
 <div class="container" >
  <div class="jumbotron" style="padding:50px;">

      <div class="container">

              <mat-form-field class="example-full-width" style="width:100%" >
                    <input matInput placeholder="Usuario" [(ngModel)]="usuario" type="text" >
                  </mat-form-field>
                  <mat-form-field class="example-full-width" style="width:100%" >
                        <input matInput placeholder="Contraseña" [(ngModel)]="clave" type="password" >
                      </mat-form-field>
              <button *ngIf="logeando" mat-raised-button (click)="Entrar()" >Ingresar</button>
        <button type="button" mat-raised-button class="aceptbtn" routerLink="/Registro" style="width:100%" color="accent">Registrarse</button>
       <br>
        <div *ngIf="!logeando" class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped active" [class]="clase" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" [style.width]="ProgresoDeAncho" >
              {{progresoMensaje}} - {{progreso}}%
            </div>
        </div>
       
        <mat-checkbox>Recordar mis datos</mat-checkbox>
      </div>

  </div>
</div>