<div class="panel panel-default">
  <div class="hero-text">
    <div class="fondo">
      <h1 style="font-size:50px">Sala de Juegos</h1>
      <h4 >Julián Martire</h4>
    </div>
      <a href="https://github.com/julianmartire1"target="_blank" mat-raised-button color="primary">en GitHub <i class="fa fa-github"></i></a>
      <a  routerLink="/QuienSoy" mat-raised-button color="primary">Quien Soy? <i class="fa fa-user"></i></a>
  </div>
  <ul class="nav navbar-nav" style="float: right !important">
          <button mat-icon-button [matMenuTriggerFor]="menu" color="primary" style="background:white">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/Registro" >
              <mat-icon>person</mat-icon>
              <span>Registro</span>
            </button>
            <button mat-menu-item routerLink="/Login">
              <mat-icon>exit_to_app</mat-icon>
              <span>Ingresar</span>
            </button>
          </mat-menu>
  </ul>
  
</div>

