.panel
{
    height: 200px;
    background-image: url("../../../assets/imagenes/cabecera.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.mat-icon-button {
    top:6px;
    margin-right: 6px;
}

.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: #3E06B0;
}

.hero-text .fondo {
    width: 105%;
    border-radius: 3px;
    background:#673ab7;
    opacity: 0.5;
    filter: alpha(opacity=50);
    color:white
}

.hero-text a {
color: white;
text-decoration: none;
}

.hero-text a:hover {
text-decoration: none;
}